@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Balsamiq Sans', cursive;
}

a {
    text-decoration:none;
}

li a {
    display: inline-block;
}
li a:hover {
    transition-property: transform;
    transition-duration: 0.3s;
    transform: translate(20px, 0px);
}

li a:active {
    transition-property: transform;
    transition-duration: 0.1s;
    transform: translate(15px, 5px);
    font: 60px
}

li {
    font-size: 70px;
    margin-bottom: 45px;
}

#menulist {
    position: relative;
    top : 70px
}